# =========================
# ENV FILES (SEGURANÇA)
# =========================
.env
.env.*
*.env

# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
build/
.vite/
.cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.iml

# =========================
# JAVA / SPRING BOOT
# =========================
target/
*.jar
*.war
*.class

# Maven
.mvn/
mvnw
mvnw.cmd

# Gradle (se usar)
.gradle/
build/

# =========================
# SECURITY / SECRETS
# =========================
application-prod.yml
application-secret.yml

# =========================
# TEST / COVERAGE
# =========================
coverage/